{% extends "base.html" %}

{% block content %}
<p>Latest ASX prices for all stocks as at {{ most_recent_date }}</p>
<table>
   <th>
      <td>ASX Code</td>
      <td>Annual dividend yield</td>
      <td>Price ($AUD)</td>
      <td>Day change</td>
      <td>Year high price</td>
      <td>Year low price</td>
      <td>Volume</td>
      <td>EPS</td>
      <td>Price/Earnings</td>
   </th>
{%for stock in stocks %}
   <tr>
      <td><a href="/show/{{ stock.asx_code }}">{{ stock.asx_code }}</a></td>
      <td>{{ stock.annual_dividend_yield |floatformat }}</td>
      <td>{{ stock.last_price }}</td>
      <td>{{ stock.change_price }} ({{ stock.change_in_percent }})</td>
      <td>{{ stock.year_high_price }} (on {{ stock.year_high_date }})</td>
      <td>{{ stock.year_low_price }} (on {{ stock.year_low_date }})</td>
      <td>{{ stock.volume }}</td>
      <td>{{ stock.eps|floatformat }}</td>
      <td>{{ stock.pe|floatformat }}</td>
   </tr>
{%endfor %}
</table>

{% endblock %}
