{% extends "base.html" %}

{% block content %}
<p>Latest ASX prices for all stocks as at {{ most_recent_date }}</p>
<table style="width: 100%">
   <tr>
      <th>ASX Code</th>
      <th>Annual yield</th>
      <th>Price ($AUD)</th>
      <th>Day change</th>
      <th>Year high price</th>
      <th>Year low price</th>
      <th>Volume</th>
      <th>EPS</th>
      <th>Price/Earnings</th>
   </tr>
{%for stock in stocks %}
   <tr class="small" style="margin-bottom: 5px">
      <td><a href="/show/{{ stock.asx_code }}">{{ stock.asx_code }}</a></td>
      <td>{{ stock.annual_dividend_yield |floatformat }}</td>
      <td>{{ stock.last_price }}</td>
      <td>{{ stock.change_price }} <span class="unimportant">({{ stock.change_in_percent }})</span></td>
      <td>{{ stock.year_high_price }} <span class="unimportant">(on {{ stock.year_high_date }})</span></td>
      <td>{{ stock.year_low_price }} <span class="unimportant">(on {{ stock.year_low_date }})</span></td>
      <td align="right">{{ stock.volume }}&nbsp;&nbsp;</td>
      <td align="right">{{ stock.eps|floatformat }}</td>
      <td align="center">{{ stock.pe|floatformat }}</td>
   </tr>
{%endfor %}
</table>

{% endblock %}
