{% load static %}
{% load menubuilder %}
<html>
    <head>
        <title>ASX Viewer</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "/app.css" %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">ASX Viewer</a></h1>
        </div>

        <table><tr valign="top"><td>
        <div class="menubar">
            <h3>Find</h3>
            <ul>{% menu search %}
                {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
            <h3>Show</h3>
            <ul>{%menu stats %}
                {% for item in menuitems %}<li><a href="{{ item.url }}" title="{{ item.title|escape }}"{% if item.current %} class='current'{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
      </td><td>
        <div class="content container">
            <div class="row">
                <div class="col-md-auto">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
      </td></tr>
    </body>
</html>
