{% extends "base.html" %}

{% block content %}
<h2>Market sentiment over past week</h2>
<img class="market-sentiment" src="data:image/png;base64, {{ sentiment_data }}" alt="ASX market sentiment plot">

<h2>Top 10 each day</h2>

<table width="60%">
{% for date, series in best_ten.items %}
   {% include "stock_series.html" %}
{% endfor %}
</table>

<h2>Bottom 10 each day</h2>

<table width="60%">
{% for date, series in worst_ten.items %}
    {% include "stock_series.html" %}
{% endfor %}
</table>

{% endblock %}
