{% extends "base.html" %}

{% block content %}

<div class="row mt-2">
    <h2>Portfolio optimiser: {{ n_stocks }} stocks</h2>
</div>

<div class="row mt-2">

<p>
    Not all stocks are shown:
</p>
<ol>
    <li>Stocks with little change in prices are removed</li>
    <li>The correlation plot is limited to 30 stocks (most weighted) as more than this becomes unreadable</li>
    <li>80 stocks are chosen at random from the input stocks and only this is optimised: large pools of stocks are impractical to compute</li>
    <li>only stock prices are considered: dividends, stock splits, capital raisings and any other events are ignored</li>
</ol>
</div>

<div class="row mt-2">
    <h3>HRP Optimizer cleaned weights</h3>
</div>

<div class="row mt-4">
    <table style="width: 60%" class="mt-4">
        <tr><th>Stock</th><th>Weight (%)</th></tr>
        {% for stock, weight in cleaned_weights.items %}
            <tr>
                <td>{% clickable_stock stock user=request.user.username next=request.path %}</td>
                <td>{{ weight|percentage|floatformat }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="row mt-2">
    <h4>Portfolio performance</h4>
</div>

<div class="row mt-2">
    <table style="width: 60%" class="mt-4">
        <tr><td>Expected annual return</td><td>{{ portfolio_performance.0 |percentage|floatformat }}%</td></tr>
        <tr><td>Annual volatility</td><td>{{ portfolio_performance.1 |percentage|floatformat }}%</td></tr>
        <tr><td>Sharpe ratio</td><td>{{ portfolio_performance.2 |floatformat }}</tr>
    </table>
</div>

<div class="row mt-2">
    <h4>Risk/reward portfolio plot</h4>
</div>

<div class="mt-2 row">
    <img src="data:image/png;base64, {{ efficient_frontier_plot }}" alt="Plot of portfolio risk/performance">
</div>

<div class="row mt-2">
    <h4>Correlation plot</h4>
</div>

<div class="mt-2 row">
    <img src="data:image/png;base64, {{ correlation_plot }}" alt="Plot of stock correlation of optimal portfolio">
</div>

{% endblock %}
