{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-auto">
        <h3 class="mt-4">{{ overall_title }}</h3>

        <div class="overall-figure">
        {% if portfolio_figure is None %}
        {% else %}
            <p>Displays the overall performance of the current watchlist virtual purchases
               from the date purchased to the current date. No transaction fees are shown.
            </p>
            <img class="portfolio-overall-figure"
                 src="data:image/png; base64, {{ portfolio_figure }}"
                 alt="Portfolio virtual performance" />
        {% endif %}
        </div>

        <h3 class="mt-4">{{ stock_title }}</h3>

        <div class="stock-figure">
        {% if stock_figure is None %}
        {% else %}
            <p>Displays each stock which has been virtually purchased and it's
               contribution towards profit/loss of the overall portfolio.
            </p>
            <img class="stock-figure"
                 src="data:image/png; base64, {{ stock_figure }}"
                 alt="Stock virtual performance" />
        {% endif %}
        </div>

        {% if profit_contributors is None %}
        {% else %}
        <h3 class="profit-contributions">Profit/Loss contributors in the portfolio</h3>

        <div class="contributors-figure">
            <table>
              <tr><td>
                    <img src="data:image/png; base64, {{ profit_contributors }}"
                       alt="Profit contributors" />
              </td><td>
                    <img src="data:image/png; base64, {{ loss_contributors }}"
                       alt="Loss contributors" />
              </td></tr>
            </table>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
