{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-auto">
        <h3 class="mt-4">Information</h3>

        <div class="info-table">
        {% if cd is None %}
        {% else %}
              <table class="small" style="width: 60%">
                   <tr><td>Sector</td><td>{{ cd.sector_name }}</td></tr>
                   <tr><td>Principal activity</td><td>{{ cd.principal_activities }}</td></tr>
                   <tr><td>Indices</td><td>{% for i in indices %}{{ i|pprint }}{% endfor %}</td></tr>
                   <tr><td>Website</td><td>{{ cd.web_address|urlize }}</td></tr>
              </table>
        {% endif %}
        </div>

        <div class="stock-securities">
        {% if securities is None %}
            <p>No security information available.</p>
        {% else %}
            <table style="width: 90%">
                <tr class="small">
                  <th>ASX code</th>
                  <th>Company</th>
                  <th>Security code</th>
                  <th>Description</th>
                  <th>Last updated</th>
                </tr>
            {% for s in securities %}
                <tr class="small" style="margin-bottom: 5px">
                  <td>{% clickable_stock s.asx_code user=request.user.username next=request.path %}</td>
                  <td>{{ s.company_name }}</td>
                  <td>{{ s.asx_isin_code }}</td>
                  <td>{{ s.security_name }}</td>
                  <td>{{ s.last_updated }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </div>

        {% if key_indicators_plot is None %}
        {% else %}
        <h3 class="mt-4">Key indicators</h3>

        <img class="stock-key-indicators"
             src="data:image/png; base64, {{ key_indicators_plot }}"
             alt="Key indicator plot" />
        <p>Volume in millions based on the last price each day. Market cap expressed in millions. EPS expressed in $AUD.</p>
        {% endif %}

        <h3 class="mt-4">Momentum</h3>
        <img class="stock"
             src="data:image/png;base64, {{ rsi_data }}"
             alt="RSI data plot for ASX.{{ asx_code }}" />

        {% if sector_momentum_plot is None %}
        {% else %}
        <h3 class="asxtrade mt-4">{{ sector_momentum_title }}</h3>

        <img class="sector_past3months"
             src="data:image/png;base64, {{ sector_momentum_plot }}"
             alt="{{ sector_momentum_title }}" />
        {% endif %}

        {% if company_versus_sector_plot is None %}
        {% else %}
        <h3 class="mt-4">{{ company_versus_sector_title }}</h3>

        <img class="company_versus_sector"
             src="data:image/png;base64, {{ company_versus_sector_plot }}"
             alt="{{ company_versus_sector_title }}" />
        {% endif %}

        {% if monthly_highest_price_plot is None %}
        {% else %}
        <h3 class="mt-4">{{ monthly_highest_price_plot_title }}</h3>

        <img class="month_best_price_plot"
             src="data:image/png;base64, {{ monthly_highest_price_plot }}"
             alt="{{ monthly_highest_price_plot_title }}" />

        <p>Plot the maximum of last trade price encountered each day of the month over the past 24 months.</p>
        {% endif %}

        {% if point_score_plot is None %}
        {% else %}
        <h3 class="mt-4">{{ point_score_plot_title }}</h3>
        <p>Visualise the stock using a points system: based on daily change price (percentage). Points are awarded by:</p>
        <ul>
          <li>+1 if it goes up on a given day</li>
          <li>+2 if it beats the market average on a given day</li>
          <li>+3 if it beats the sector average on a given day</li>
          <li>+1 if it goes up more than 2% on a given day</li>
          <li>+1 if it goes up despite a down market (and sector) day</li>
          <li>+1 if the stock ends the day within 20% of the top of the daily trading price range</li>
        </ul>
        <p>This may yield easier identification of stocks which are outperforming or solid performers over time.
          Symettry applies: points are deducted for moves in the downward direction.
        </p>
        <img class="point_score_plot"
             src="data:image/png;base64, {{ point_score_plot }}"
             alt="{{ point_score_plot_title }}" />
        <img class="net_contributors_plot"
             src="data:image/png;base64, {{ net_contributors_plot }}"
             alt="{{ net_contributors_plot_title }}" />
        {% endif %}
    </div>
</div>
{% endblock %}
