{% extends "stock_page.html" %}

{% block stock_page %}
     <h3 class="mt-4">Fundamentals for {{ asx_code }}</h3>

     <img class="stock"
          src="data:image/png;base64, {{ fundamentals_plot }}"
          alt="Fundamentals plot for ASX.{{ asx_code }}" />

     <ul>
          <li>Volume in million $AUD based on the last price each day</li>
          <li>Market cap also expressed in million $AUD</li>
          <li>Number of shares expressed in millions</li>
          <li>EPS expressed in $AUD</li>
          <li>ETFs do not currently have annual_dividend_yield, market_cap and number_of_shares data due to lack of available data</li>
     </ul>
{% endblock %}