{% extends "base.html" %}

{% block content %}

{% if watchlist_trends %}
<h3>Trends for watched stocks over past 300 days</h3>

<table style="width: 60%">
    <tr><th>Stock</th><th>Overall slope</th><th>NRMSE</th><th>30 day slope</th></tr>
    {% for stock, tuple in watchlist_trends.items %}
        <tr class="{{ tuple.3 }}">
            <td><a href="/show/{{ stock }}">{{ stock }}</a></td>
            <td>{{ tuple.0 |floatformat }}</td>
            <td>{{ tuple.1 |floatformat }}</td>
            <td>{{ tuple.2 }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<h3>{{ trending_companies_plot_title }}</h3>

<img src="data:image/png;base64, {{ trending_companies_plot }}" />

{% endblock %}
